:root {
  font: 16px / 1 sans-serif;
  height: 100%;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  border: 2px black solid;
  height: 40px;
  width: 40px;
}

.column {
  border: 2px black solid;
  height: 40px;
  width: 40px;
}
